<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestDB" connectionString="Data Source=LAPTOP-0U228VGU;Initial Catalog=Test; Database=Test; User ID=sa; Password=123456; MultipleActiveResultSets=True;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>